<appSettings>
  <add key="MailServer" value="dev-smtp.netbox.com" />
  <add key="FacebookAppId" value="384287495847692" />
  <add key="FacebookAppSecret" value="3b9b08b3f6c80b1882166b8ed6c186b4" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>