body {
}

.navbar-brand {
    float: left;
    /*padding: 15px 15px;*/
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.hover .navbar-brand{
    color:red;
}