body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

::selection {
    color: #fff;
    background: #333;
}

/*--------------------Style CSS Scrollbar--------------------*/

/*body::-webkit-scrollbar {
    width: 0.35rem;
   
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #36b3a8;
    height: .5em;
}*/

.field-validation-error{
    color:red;
}

.input-validation-error {
    border: 2px solid red;
}

.validation-summary-errors {
    color: red;
    font-size: 1.25em;
}


.navbar-dark .navbar-brand  {
    color: rgb(226, 226, 226);
}

    .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
        color: #007bff;
    }

/*.navbar-dark .navbar-text a {
    color: #36b3a8;
}
    .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
        color: #36b3a8;
    }*/
 